---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/jpeg" href="/hoppy-ruler.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Hop into Learning with Hoppy - An educational app for kids" />
		<title>Hoppy - Hop into Learning</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100%;
	}
</style>
